body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

img {
    border: none;
}

li {
    list-style: none;
}

input,
select,
textarea {
    outline: none;
}

a {
    text-decoration: none;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.personal_information {
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 5px #888888;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.my_glory {
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 4px 4px 5px #888888;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.per_name {
    padding: 10px 0;
    margin-top: -22px;
}

.per_name img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.per_name span {
    font-size: 30px;
    display: inline;
    font-weight: bold;
    font-family: "华文行楷";
    vertical-align: middle!important;
}

.per_data {
    background-color: #ccc;
    margin: 10px 0;
}

.per_data i {
    font-size: 15px;
}

.per_data .name_major {
    margin: 15px 0;
}

.per_data .name_major i {
    color: #0000FF;
}

.per_data span {
    margin: 0 10px;
}

.style_tabel .row div {
    padding: 0 -15px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 0;
    overflow: hidden;
}

.style_tabel .row .belongTeamImg{
    width: 100px;
    margin: 39px 26px;
    border-radius: 10px;
}

.style_tabel .row .belongTeamImg:hover{
    animation: rotate .8s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        border-radius: 50%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

.style_tabel .row div:nth-child(2) {
    border-left: 0;
    border-right: 0;
    overflow: hidden;
}

.style_tabel .row span {
    width: 100%;
    font-weight: bold;
    padding: 5px 5px;
    border-bottom: 1px solid #ccc;
}

.style_tabel .row .perIntroduce,.hobby{
    font-size: 12px;
    text-indent: 2em;
    text-align: left;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #000;
    margin-left: 4px;
}


/* 模态框样式 */

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll;
}

#myModalMate h3,
#myModalAdvice h3 {
    font-weight: bold;
}

#myModalMate .modal-content,
#myModalAdvice .modal-content {
    border: 1px solid black;
    top: 30px;
}

#myModalMate .modal-header,
#myModalAdvice .modal-header {
    border: transparent;
    text-align: center;
}

#myModalMate .modal-header .close,
#myModalAdvice .modal-header .close {
    color: black;
    opacity: 1;
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 50px;
    outline: none;
}

#myModalMate .modal-body {
    height: 190px;
}

#myModalMate .modal-body label {
    float: left;
    font-size: 15px;
    width: 28%;
    margin-top: 4px;
    font-weight: 500;
    text-align: right;
}

#myModalMate .modal-body .content {
    float: left;
    font-size: 10px;
    width: 70%;
    height: 30px;
    font-size: 11px;
    margin-left: 4px;
}

#myModalMate .modal-footer,
#myModalAdvice .modal-footer {
    border: none;
    text-align: center;
}

#myModalAdvice .modal-body .meSg {
    width: 90%;
    margin: 0 auto;
}

#myModalAdvice .modal-body .means {
    width: 48%;
    height: 150px;
    float: left;
    margin-right: 2%;
}

#myModalAdvice .modal-body .suggest {
    width: 48%;
    height: 150px;
    float: left;
    margin-left: 2%;
}

#myModalAdvice .modal-body .meSg p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500px;
}

#myModalAdvice .modal-body .meSg textarea {
    box-shadow: 0 2px 2px 0 rgb(158, 142, 142);
}


/* 自定义样式 */


/*  style_content 这个类名是为了自定义 我的荣耀 以及参加活动这个板块的大小及文字大小*/

@media(min-width:0) and (max-width:768px) {
    .style_content {
        width: 100%;
        border-bottom: 2px solid #ccc;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}

@media(min-width:768px) {
    .style_content {
        width: 33.333333%;
        margin-left: 33.333333%;
        border-bottom: 2px solid #ccc;
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}

@media(min-width:0) and (max-width:991px) {
    .custom_positionL {
        text-align: center;
        margin-bottom: 15px;
        padding: 0;
    }
}

@media(min-width:991px) {
    .custom_positionL {
        text-align: left;
        margin-bottom: 15px;
        padding: 0;
    }
}

@media(min-width:0) and (max-width:991px) {
    .custom_positionR {
        text-align: center;
        margin-bottom: 15px;
        padding: 0;
    }
}

@media(min-width:991px) {
    .custom_positionR {
        text-align: right;
        margin-bottom: 15px;
        padding: 0;
    }
}


/* 表格板块的自适应样式 */


/* style_tabel 自定义表格板块在不同分辨率下的大小及位置 */

@media(min-width:0) and (max-width:768px) {
    .style_tabel {
        width: 100%;
        text-align: center;
    }
}

@media(min-width:768px) {
    .style_tabel {
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }
}

@media(max-width:768px) {
    .personal_information {
        width: 768px;
    }
    .my_glory {
        width: 768px;
    }
    .team_activity {
        width: 768px;
    }
}