/**
 * 
 * @Author: 孙晓爽
 * @Date:   2018-10-21
 * @Last Modified by: 孙晓爽
 * @Last Modified time: 2018-10-21
 * 
 */

/* 轮播图容器 */
#main_ad {
    width: 1230px;
    margin: 10px auto;
}

/* 指示器小点点 */
#main_ad .carousel-indicators {
    padding-bottom: 10px;
}

/* 轮播图片 */
#main_ad>.carousel-inner>.item {
    background-repeat: no-repeat;
    background-position: center center;
    /*  如果图片比盒子高度(410)小，填充不满盒子，所以设置background-size  */
    background-size: cover;
}

#main_ad>.carousel-inner>.item>img {
    width: 100%;
    height: 100%
}


@media(max-width:1230px) {
    #main_ad {
        width: 992px;
    }
}

@media(max-width:992px) {
    #main_ad {
        width: 768px;
    }
}